.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card-db{
  background-color: #f7f7f7;
  padding: 25px 30px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.card {
  background-color: #f7f7f7;
  padding: 10px 10px 10px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.flurnamen-accordion{
  margin: auto;
  width: 80%;  
  padding: 1em;
}
.accordion > div > div:first-of-type {
  
  width:100%;
  margin: 0.5em;
  padding: 1em;
  background-color: #28a745 ;
  color: white;
  text-transform: uppercase;
  user-select: none;
  font-weight: 200;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 -10px 30px 2px rgba(0, 0, 0, 0.1) inset;
}
.accordion > div > div:first-of-type:hover {
  background-color: #59a75c;
}

/* Content */
.accordion > div > div:last-of-type {
  background-color: #f9f9f9;
  margin: 0 0.5em;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  width:100%;
}

/* Inner */
.accordion .accordion-item {
  padding: 1em;
  opacity: 0;
  transition: opacity 300ms ease;
  overflow: auto;
  text-align: justify;
}
.accordion > div:first-child .accordion-item {
  text-align: justify;
  max-height: 200px;
}
.accordion > div.open .accordion-item {
  opacity: 1;
  transition: opacity 700ms ease;
}
.accordion img.accordion-item {
  padding: 0;
  margin: 0;
  width: 100%;
}

/*HOMPAGE CARDS*/

.homepage-cards{
  margin: auto;  
  padding: 1em;
  width: 100%;
}
.project-card{
  margin: auto;
  width: 100%;
}
.other-cards{
  margin: auto;
  width: 100%;
}


.card-link{
  
  margin: auto;
  color: white;
  text-align: center;
  
}
.card-link:hover {
  color: white;
}


.fixed-footer-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.list-group {
  overflow: scroll;
  margin: auto;
  padding: 0px;
  
  
  border: 2px solid #ccc;
}

.list-group-item{
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
};
.list-group-item:last-child {
    border-bottom: none;
};
  
.list-group-item:last-child:nth-child(even) {
    background: #f8f8f8;
};

.col-md-8,
.col-md-6,
.col-md-4 {
padding: 1rem;
background-color: #fbfbfb;
border: 2px solid rgb(80, 139, 95);
color: rgb(15, 15, 15);
text-align: center;
}
.button-datenbank{
  border: 2px solid rgb(80, 139, 95);
  margin: auto;
}


.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/*TABLE RESULTS*/

.table-result {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}